<%= form_for(@portfol) do |f| %>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :subtitle %>
			<%= f.text_field :subtitle, class: "form-control"%>		
		</div>
		<div class="form-group">
			<label class="btn btn-secondary">
				Upload Thumb Image<%= f.file_field :thumb_image, style: "display: none;" %>
			</label>
		</div>
		<div class="form-group">
			<label class="btn btn-secondary">
				Upload Main Image<%= f.file_field :main_image, style: "display: none;" %>
			</label>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<%= f.label :body %>
			<%= f.text_area :body, class: "form-control", rows: 13 %>
		</div>
	</div>
</div>

	<hr>

	<div class=col-md-12>
		<h4>Technologies used :</h4>
		<div>
			<%= f.fields_for :technologies do |tech| %>
				<%= render 'technology_fields', f: tech %>
			<% end %>
			<div>
				<%= link_to_add_association 'Add Technology', f, :technologies %>
			</div>
		</div>
		<div class="form-group">
			<%= f.submit "Save", class: "btn btn-primary" %>
		</div>
	</div>	
<% end %>