<h1><%= @portfol.title %></h1>
<em><%= @portfol.subtitle %></em>
<div>
<%= image_tag @portfol.main_image %>
</div>
<p><%= @portfol.body %></p>

<h2>Technologies used: </h2>
<% @portfol.technologies.each do |tecnology| %>
<p><%= technology.name %></p>
<% end %>