<div class="container portfolio_form">
	<div class="row">
		<div class= "col-md-7">
			<%= image_tag portfolio_img(@portfol.main_image, 'main'), width: "600" %>
		</div>
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-8">
					<h1><%= @portfol.title %></h1> 
				</div>
				<% if logged_in?(:site_admin) %>
					<div class="col-md-4">
						<%= link_to 'edit', edit_portfol_path(@portfol), class: "btn btn-warning" %>
					</div>
				<% end %>
			</div>
			<em><%= @portfol.subtitle %></em>
			<p><%= @portfol.body %></p>
			<h3>Technologies used: </h3>
			<% @portfol.technologies.each do |technology| %>
			<p><%= technology.name %></p>
			<% end %>
		</div>
	</div>
</div>
