<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'portfols', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/portfol_nav"%>
    <%= render "shared/portfol_masthead" unless logged_in?(:site_admin) %>

    <%= yield %>
    <%= render "shared/portfol_footer" %>
    <%= source_helper("application") %>
  </body>
</html>
